@import "normalize.css";
body {
    color: rgb(11, 6, 6);
    margin: 0;
}
*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    transition: all .2s ease-out;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
}
.logo{
    margin-left: 15px;
}
span{
	color:rgb(251, 127, 127);
}
section{
    width: 100%;
    height: 84%;

}
.wlcm{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section div img{
    padding: 20px;
    border-radius: 25px;
}
section div img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 7px 5px 18px rgb(155, 157, 158);
}
.row2{
    margin-left: 42%;
}
h2{
    margin-left: 50px;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 211, 211);
}
.contact a{
    margin-right: 250px;
}