body {
    color: rgb(219, 207, 207);
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    transition: all .2s ease-out;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-left: 15px;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
section{
    position: relative;
    left: 80px;
    top: 20px;
    width: 90%;
    height: 150%;
    background-color: rgba(215, 155, 155, 0.404);
}
table{
    width: 100%;
    height: 100%;
    color: black;
    font-size: 20px;
}
.table,tr,td,th{
    border: 1px solid white;
}
.workout{
    display: block;
}
ol,th,td{
    padding-left: 25px;
}
.submit{
    padding: 20px;
}
button{
    background-color: black;
    color: white;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 0px;
}
button:hover{
    transform: scale(1.0);
    background-color: white;
    color: black;
    font-size: 19px;
}