body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    transition: all .2s ease-out;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
}
.logo{
    margin-left: 15px;
}
  
  body{
      margin:0px;
      padding:0px;
  }
  
  .container{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      background-image: url(../img/photo-1470468969717-61d5d54fd036.avif);
      width:410px;
      padding-left:50px;
      padding-right:40px;
      padding-top:60px;
      padding-bottom:30px;
      height:50vh;
      width:50vh;
  }
  .container .text{
      font-size:30px;
      font-weight:600;
      text-align:center;
      padding-bottom:30px;
  }
  .container .title{
      font-size:40px;
      font-weight:600;
      text-align:center;
      padding-bottom:30px;
  }
  .container .input{
      padding:10px;
  }
  form .data input{
      height:8%;
      width:100%;
      padding-left:10px;
      font-size:17px;
      border:1px solid black;
  }
  form .btn{
      margin-top:10px;
      height:40px;
      width:100%;
      position:relative;
      overflow:hidden;
      font-size:17px;
      border:1px solid lightgrey;
  }
  form .btn .inner{
      height:100%;
      width:400px;
      position:absolute;
      background-color:black;
      z-index:-1;
  }
  form .btn button{
      height:100%;
      width: 80%;
      background:none;
      border:none;
      color:#fff;
      font-size:18px;
      font-weight:500;
      text-transform:uppercase;
      letter-spacing:1px;
      text-align:center;
  }
  div.container-content{
      text-align:center;
      margin-top:10px;
  }
  div.container-content a{
      text-decoration:none;
  }
  .btn-primary{
      background-color: black;
      text-align: center;
  }
  .btn-primary a{
      text-decoration:none;
      color:white;
  }
.section{
    background-image: url(../img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
button:hover{
    background-color: white;
    color: black;
}