body {
	background:black;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(251, 127, 127);
}
h1{
	color:yellowgreen;
    margin-top: 50px;
}
table{
    margin-top: 50px;
    margin-left: 20px;
    width: 1000px;
    height: 500px;
}
table,td,th{
    border: 1px solid white;
}
button{
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}