@import "normalize.css";
body {
	background:black;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(251, 127, 127);
}
h1{
	color:red;
	font-family: "Playfair Display";
}
.navbar li{
	display:inline;	
    position: relative;

}
.navbar a{
    text-decoration:none;
	padding:10px;
	color:blue;
	font-size:25px;
    transition: all 0.5s;
}
li a:hover{
 color:white;
}
.dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: gray;
}


.dropdown_menu ul{
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}

.about{
    color: red;
    font-size: 40px;
    margin-left: 30px;
}
.img{
    width: 900px;
    margin-left: 30px;

}
.content{
    display: flex;
}
.content1{
    padding-left: 20px;
    margin-top: -20px;
}
.service{
    color: red;
    font-size: 40px;
    margin-left: 30px;
}
.aerobic{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.aeroimg{
    width: 500px;

}
.hiitsec{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.hiitimg{
    width: 500px;
}
.ourservice1{
    display: flex;
    flex-direction: row;
}
.CrossFit{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.crossfitimg{
    width: 500px;
}
