body {
    color: black;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(h../../../img/loginbackground.jpg);
}
*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
}
.logo{
    margin-left: 15px;
}
.section{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20%;
    margin-top: 10%;
    background-color: rgba(75, 74, 74, 0.395);
    border-radius: 20px;
    padding: 20px;
}
.column{
    margin-top: 20px;
}
form{
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.sec2{
    width: 500px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(75, 74, 74, 0.395);
    color: white;
}
.addcnt{
    padding: 20px;
}
.workoutinput{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}
.dietinput{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}
.input1{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
    border: 0;
}

.savebtn{
    position: relative;
    top: 10px;
    left: 70px;
    width: 80px;
    height: 30px;
    border: 0px;
    font-weight: bold;
    background-color: rgb(249, 148, 7);
    color: rgb(7, 7, 7);
    border-radius: 10px;
}
.savebtn:hover{
    background-color: white;
    color: green;
}
