body {
    color: rgb(219, 207, 207);
    margin: 0;
    width: 100%;
    height: 98vh;
    background-size: cover;
}

*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    transition: all .2s ease-out;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
}
.logo{
    margin-left: 15px;
}

section{
    background-image: url(../img/2591617.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

h2{
    text-align: center;
    font-size: 40px;
}
.details{
    position: relative;
    top: 25px;
    font-size: 20px;
    margin: auto;
    width: 450px;
    background-image: url(../img/photo-1470468969717-61d5d54fd036.avif);
    box-shadow: 3px 3px 3px white;
    color: black;
    border-radius: 25px;
}
.details:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 5px 5px 18px #888888;
}
section div{
    padding: 10px;
}
.input1{
    position: relative;
    left: 37px;
    height: 25px;
}
.input2{
    position: relative;
    left: 112px;
    height: 25px;
}
.input3{
    position: relative;
    left: 80px;
    height: 25px;
}
.input4{
    position: relative;
    left: 88px;
    height: 25px;
}
.input5{
    position: relative;
    left: 95px;
    height: 25px;
}
.input6{
    position: relative;
    left: 12px;
    height: 25px;
}
.input7{
    position: relative;
    left: 77px;
    height: 25px;
}
.input8{
    position: relative;
    left: 67px;
    height: 25px;
}
.input9{
    position: relative;
    left: 5px;
    height: 25px;
}
.input10{
    position: relative;
    left: 30px;
}
.submit input{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 15px;
}
.submit input:hover{
    background-color: white;
    color: black;
}
.or{
    text-align: center;
}
.footerbtm{
    background-color: rgb(125, 112, 112);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    
}