body {
    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://c1.wallpaperflare.com/preview/112/406/444/food-diet-keto-ketodieta.jpg);
}

*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
  }
  h1{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 128, 0);
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-left: 15px;
}
.food{
    text-align: center;
}
.maincnt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-align: center;
}
.workout{
    background-image: linear-gradient(to bottom, rgb(255, 98, 0) , rgb(255, 196, 0));
    width: 400px;
    border-radius: 25px;
}
.workout:hover{
    background-image: linear-gradient(to bottom, rgb(255, 196, 0), rgb(255, 98, 0) );
}
.workout div{
    padding: 15px;
    font-size: 20px;
}
.wrk{
    display: flex;
    flex-direction: column;
}
.diet{
    background-image: linear-gradient(to bottom, rgb(0, 140, 255) , rgb(0, 247, 255));
    height: 80%;
    width: 400px;
    border-radius: 25px;
}
.diet:hover{
    background-image: linear-gradient(to bottom , rgb(0, 247, 255), rgb(0, 140, 255));
}
.diet div{
    padding: 10px;
    font-size: 20px;
}
.dietbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.wrkbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.contact{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgba(212, 211, 211, 0.429);
}
.contact a{
    position: relative;
    right: 250px;
}