body {
    color: black;
    margin: 0;
    width: 100%;
    height: 97vh;
    background-size: cover;
    background-image: url(../img/Desktop\ -\ 1background2.jpg);
}
*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
  }
  h1{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 128, 0);
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 15px;
}
.search{
    height: 35px;
    width: 350px;
    border-radius: 15px;
}
.fafa{
    height: 30px;
    border-radius: 15px;
    position: relative;
    right: 35px;
    border: none;
}
.headings a{
      position: relative;
      right: 50px;
      text-decoration: none;
      color: black;
      border-bottom: 2px solid rgb(255, 98, 0);
    font-weight: 600;
    font-size: 20px;
      
}
.headings a:hover{
    color: rgb(255, 98, 0);
    border-bottom: 2px solid black;
}
.section{
    height: 85vh;
}
.dietbox{
    margin: 5px;
    text-align: center;
}
.maincnt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-align: center;
}
.workout{
    background-image: linear-gradient(to bottom, rgb(255, 98, 0) , rgb(255, 196, 0));
    width: 400px;
    height: 500px;
    border-radius: 25px;
    overflow-x: scroll;
}
.workout:hover{
    background-image: linear-gradient(to bottom , rgb(255, 196, 0), rgb(255, 98, 0));
}
.workout::-webkit-scrollbar{
    width: 0px;
}
.workout div{
    padding: 15px;
    font-size: 20px;
}
.dietbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.wrkbox{
    margin: 15px;
}
.wrkbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.footerbtm{
    background-color: rgb(125, 112, 112);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3vh;
    
}
.card-box{
    width: 300px;
    height: 300px;
    perspective: 500px;
    cursor: pointer;
}
.content{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-box:hover .content{
    transform: rotateY(-180deg);
    transition: transform 0.5s;
}
.front, .back{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    backface-visibility: hidden;
    padding: 10px;
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1)0%,
        rgba(148, 187, 233, 1)100%
    );
}
.front img, .back img{
    width: 230px;
    height: auto;
    transition: 0.5s;
}
.front h3, .back h3{
    font-size: 30px;
    color: black;
    font-weight: 700;
}
.back{
    transform: rotateY(180deg);
    padding-top: 20px;
}

.card-box:hover .back,
.card-box:hover .front{
    width: auto;
    height: auto;
}
.back h5{
    font-weight: 700;
    padding: 10px;
}
@media (max-width:420px){
    body{
        background-image: url(https://wallpapers.com/images/file/lion-animal-in-dark-screen-uryhqjsmcthkrfhk.jpg);
        background-size: cover;
        height: 90vh;
    }
    .headings{
        display: none;
    }
    .search{
        height: 35px;
        width: 150px;
        border-radius: 15px;
    }
    .fafa{
        height: 30px;
        border-radius: 15px;
        position: relative;
        right: 35px;
        border: none;
    }
    .maincnt{
        display: flex;
        flex-direction: column;
    }
    .workout{
        width: 300px;
        height: 500px;
        margin-left: 50px;
        border-radius: 25px;
        overflow-x: scroll;
    }
    .diet{
        background-image: linear-gradient(to bottom, rgb(0, 140, 255) , rgb(0, 247, 255));
        width: 300px;
        height: 500px;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 25px;
        overflow-x: scroll;
    }
    .footerbtm{
        display: none;
    }
}