.header{
    display: flex;
    background-color: black;
    flex-direction: row;
    border-bottom: 1px solid rgb(251, 127, 127);
}
h1{
	color:yellowgreen;
    margin-top: 50px;
}
.section{
    display: flex;
    flex-direction: row;
    color: white;
    background-image: url(../img/noex.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.client{
    margin-left: 120px;
    margin-top: 240px;
    font-size: 40px;
}
.profile{
    margin-left: 750px;
    margin-top: 240px;
    font-size: 40px;
}