body {
    margin: 0;
    width: 100%;
    height: 97vh;
    background-size: cover;
}
*{
    outline:none;
    box-sizing:border-box;
    /* font-family:'Poppins', sans-serif; */
  }
h1,h2,h3{
    padding-left: 25px;
    font-size: 30px;
    color: white;
}
.backimg{
    margin-left: 30%;
    width: 40%;
    height: 90%;
    background-repeat: no-repeat;
}
.backbtn{
    width: 100px;
    height: 50px;
    border: none;
    position: absolute;
    top: 68%;
    left: 47%;
    border-radius: 10px;

}
.backbtn:hover{
    background-color: orange;
    transition: ease-in-out;
}
.nodata{
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 30px;
}
  .day1{
    background-color: rgb(244, 241, 241);
    color: black;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-right: 1px solid #d41a1a;
    margin-bottom: 5px;
  }
.header{
    background-color: rgba(180, 177, 177, 0.475);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 15px;
}
.search{
    height: 35px;
    width: 350px;
    border-radius: 15px;
}
.fafa{
    height: 30px;
    border-radius: 15px;
    position: relative;
    right: 35px;
    border: none;
}
.headings a{
      position: relative;
      right: 50px;
      text-decoration: none;
      color: black;
      border-bottom: 2px solid rgb(255, 98, 0);
    font-weight: 600;
    font-size: 20px;
      
}
.headings a:hover{
    color: rgb(255, 98, 0);
    border-bottom: 2px solid black;
}
section{
    height: 87.5vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#toggleButton1,#toggleButton2 {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: orange;
    cursor: pointer;
  }
  #table1{
    display: none;
  }
  #table2 {
    display: none;
  }
.schedule{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.container{
    display: flex;
    flex-direction: row;
}
.dietbox{
    margin: 5px;
    text-align: center;
}
.card-box{
    cursor: pointer;
}
.datecontainer{
    height: 780px;
    width: 30%;
}
.back{
    font-size: 25px;
    height: 30%;
    width: 800px;
}
.dietbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.wrk{
    height: 640px;
    width: 850;
    overflow-y: scroll;
}
.wrk::-webkit-scrollbar{
    width: 0px;
}
.wrkbox{
    border-radius: 10px;
    background-color: rgb(255, 98, 0);
    color: white;
    height: 100px;
    margin: 15px;
    width: 600px;
}
.wrkbox:hover{
    background-color: rgba(192, 192, 192, 0.772);
    border-radius: 15px;
}
.logo2{
    width: 230px;
    height: auto;
    transition: 0.5s;
}
.img{
    margin-top: 10px;
    width: 20px;
}
.hidden {
    display: none;
}
.btns{
    display: flex;

}
.btns button{
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
    background-color:  rgb(255, 98, 0);
}
#btn2{
    margin-left: 5px;
}
#searchButton{
    margin-top: 5px;
    margin-left: 5px;
}
input{
    position: relative;
    top:38px;
    font-size: 20px;
    left: -112%;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
div .container2{
    width: 150px;
}
.workout div{
    padding: 15px;
    font-size: 20px;
}
.footerbtm{
    background-color: rgb(39, 37, 37);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* top: 80px; */
    height: 3vh;
    
}
@media (max-width:420px){
    body{
        background-image: url(https://wallpapers.com/images/file/lion-animal-in-dark-screen-uryhqjsmcthkrfhk.jpg);
        background-size: cover;
        height: 90vh;
    }
    .headings{
        display: none;
    }
    .search{
        height: 35px;
        width: 150px;
        border-radius: 15px;
    }
    .fafa{
        height: 30px;
        border-radius: 15px;
        position: relative;
        right: 35px;
        border: none;
    }
    .maincnt{
        display: flex;
        flex-direction: column;
    }
    .workout{
        width: 300px;
        height: 500px;
        margin-left: 50px;
        border-radius: 25px;
        overflow-x: scroll;
    }
    .diet{
        background-image: linear-gradient(to bottom, rgb(0, 140, 255) , rgb(0, 247, 255));
        width: 300px;
        height: 500px;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 25px;
        overflow-x: scroll;
    }
    .footerbtm{
        display: none;
    }
}