body {
    color: rgb(11, 6, 6);
    margin: 0;
    background-image: url(../img/Desktop\ -\ 1background2.jpg);
    width: 100%;
    height: 95vh;
    background-size: cover;
}
*{
    outline:none;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    transition: all .2s ease-out;
  }
.header{
    background-color: rgba(220, 217, 217, 0.299);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 15px;
}
.headings a{
    position: relative;
    right: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid rgb(255, 98, 0);
    font-weight: 600;
    font-size: 20px;
    
}
.headings a:hover{
    color: rgb(255, 98, 0);
    border-bottom: 2px solid black;
}
.section{
    height: 93%;
}
 .old{
    position: relative;
    color: rgb(16, 15, 15);
    top: 30px;
    left: 60px;
    font-size: 50px;

}
.condainer1{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 30px;
}
.condainer2{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.pad{
    margin: 30px;
    border: 3px solid black;
    width: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.pad:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 5px 5px 18px #888888;
}
.footerbtm{
    background-color: rgb(125, 112, 112);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3vh;
}
@media (max-width:420px){
    body{
        background-image: url(https://wallpapers.com/images/file/lion-animal-in-dark-screen-uryhqjsmcthkrfhk.jpg);
        background-size: cover;
        height: 90vh;
    }
    .condainer1{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 110px;
    }
    .condainer2{
        display: flex;
        flex-direction: column;
        margin-left: 110px;
    }
    .footerbtm{
        display: none;
    }
    .section{
        overflow-y: scroll;
    }
    .section::-webkit-scrollbar{
        width: 0px;
    }
}