body {
    margin: 0px;
    width: 100%;
    background-color: whitesmoke;
  }
*{
  outline:none;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  transition: all .2s ease-out;
  }
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(180, 177, 177, 0.733);
  }
.clientlistbtn{
    position: relative;
    top: 20px;
    right: 20px;
  }
.listbtn{
    background-image: linear-gradient(to right,red,rgb(82, 69, 69));
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
}
.listbtn:hover{
    background-image: linear-gradient(to right,rgb(82, 69, 69),red);
    color: white;
}
.addwrkbtn{
    background-image: linear-gradient(to right,rgb(82, 69, 69),red);
    color: white;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
}
.addwrkbtn:hover{
    background-image: linear-gradient(to right,red,rgb(82, 69, 69));
    color: white;
}
  .logo{
  margin-left: 15px;
  }
section{
    height: 81vh;

}
.usericon{
    background-image: url(https://thumbs.dreamstime.com/b/default-placeholder-fitness-trainer-t-shirt-half-length-portrait-photo-avatar-gray-color-default-placeholder-fitness-trainer-116470231.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    font-size: 20px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    
}
.changebtn{
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: rgb(66, 63, 63);
    color: white;
    border: 0px;
    border-radius: 15px;
}
.changebtn:hover{
    width: 100px;
    border: 0px;
    background-color: rgb(179, 177, 177);
    color: rgb(10, 9, 9);
    border-radius: 15px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 70px;
    left: 17%;
    width: 65%;
    height: 550px;
    border-radius: 25px;
    background-color: rgba(222, 213, 213, 0.566);
}

.usericon:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 7px 5px 18px rgb(102, 102, 103);
}
.border{
    border: 1px solid orange;
    height: 300px;
}
.details div{
    padding: 15px;
}

.cnt{
    background-color: rgb(163, 157, 157);
    border-radius: 10px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.btnag{
    margin-top: 30px;
    margin-bottom: 30px;
}
.editbtn{
    width: 70px;
    height: 40px;
    border: 0px;
    font-weight: bold;
    background-color: rgb(250, 6, 6);
    color: white;
    border-radius: 10px;
}
.editbtn:hover{
    background-color: white;
    color: red;
    border: 0.5px solid gray;
}
.savebtn{

    width: 70px;
    height: 40px;
    border: 0px;
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.savebtn:hover{
    background-color: white;
    color: green;
    border: 0.5px solid gray;
}
.logoutbtn{

    width: 70px;
    height: 40px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(255, 128, 0);
    color: white;

}
.logoutbtn:hover{
    background-color: white;
    color: rgb(255, 128, 0);
    border: 0.5px solid gray;
}
.footerbtm{
    background-color: rgb(125, 112, 112);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    
}