body {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  *{
  outline:none;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  transition: all .2s ease-out;
  }
  .header{
  background-color: rgba(180, 177, 177, 0.733);
  }
  .logo{
  margin-left: 15px;
  }
h1{
	color:rgb(251, 127, 127);
    margin-top: 50px;

}
.workoutlist1{
    display: flex;
    flex-direction: row;
 
}
h2{
    color: rgb(253, 95, 95);
    text-align: center;
}
.workout{
    width: 500px;
    padding: 20px;
    font-weight: bold;
    border: 1px solid black;
}
.workoutlist2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.workoutlist3{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.footerbtm{
    background-color: rgb(125, 112, 112);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    
}